
/.minecraft/journeymap/data
.minecraft/journeymap/journeymap.log
/.minecraft/logs
/.minecraft/saves
instance.cfg
.minecraft/usercache.json
.minecraft/options.txt
.minecraft/logs/onslaught.log.0
.minecraft/config/AppliedEnergistics2/CustomRecipes.cfg
.minecraft/logs/onslaught.log.0
.minecraft/logs/onslaught.log.1
.minecraft/logs/onslaught.log.2
.minecraft/logs/onslaught.log.3
.minecraft/logs/onslaught.log.4
instance.cfg
/natives
.minecraft/llibrary/debug/net.minecraftforge.client.ForgeHooksClient.class
.minecraft/llibrary/debug/net.minecraft.client.renderer.RenderGlobal.class
.minecraft/llibrary/debug/net.minecraft.client.renderer.EntityRenderer.class
.minecraft/llibrary/debug/net.minecraft.client.model.ModelBiped.class
.minecraft/config/splash.properties
.minecraft/logs/debug.log
.minecraft/logs/latest.log
instance.cfg
.minecraft/config/AppliedEnergistics2/CustomRecipes.cfg
.minecraft/usercache.json
instance.cfg
.minecraft/config/AppliedEnergistics2/items.csv
.minecraft/config/AppliedEnergistics2/items.csv
.minecraft/crafttweaker.log
.minecraft/journeymap/journeymap.log
.minecraft/crafttweaker.log
/.minecraft/journeymap
/.minecraft/logs
.minecraft/logs/debug.log
.minecraft/options.txt
.minecraft/usercache.json
instance.cfg
/.minecraft/logs/buildcraft
.minecraft/config/startuptimer/startup_times.json
